
// navbar
.navigation {
    padding: 1.4rem 8rem;
    height: 80px;
    position: fixed;
    width: 100%;
    z-index: 90000;
    transition: 0.5s;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(255, 255, 255, 0));
    color: white;
    transition: all .5s ease;
    opacity: 0;

    .navbar-logo {
        padding: auto;
        float: left;
        h1 {
            font-family: 'Source Sans Pro';
            font-weight: 600;
            font-size: 2.5rem;
            letter-spacing: 4px;
        }
    }
    .navbar-navigation {
        float: right;
        margin: 10px 0;
    }
    .navbar-navigation li {
        display: inline;
        font-size: 1.2rem;
        padding: 0 2px;
        text-transform: uppercase;
        letter-spacing: 6px;
        font-weight: 700;
    }
    @media (max-width: 980px) {
        padding: 1.4rem 3rem;
    }
    @media (max-width: 580px) {
        padding: 1.4rem 1.6rem;
        margin-top: 0;
        height: 100px;
        .navbar-logo h1 {
            margin-top: -6px;
        }
        ul {
            list-style-type: none;
        }
        .navbar-navigation {
            margin-top: -6px;
            li {
                display: block;
                text-align: right;
            }
        }
    }
}
.show {
    opacity: 1;
    visibility: visible;
}

// main
.main {
    padding: 0;
}
.welcome-message {
    padding: 240px 140px;
    height: 100vh;
    width: 100%;
    background: url("/storage/profiel2.jpg") no-repeat;
    background-size: auto 100%;
    background-position: center;
    position: relative;
    blockquote {
        font-size: 1.8rem;
        letter-spacing: 2px;
        max-width: 40vw;
    }
    @media (max-width: 980px) {
        padding: 140px 60px;
    }
    @media (max-width: 580px) {
        padding: 100px 40px;
        blockquote {
            font-size: 1.2rem;
        }
    }
}

// project grid
.id-projects-title, .web-projects-title {
    margin: 10px auto 0 auto;
    padding: 30px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-size: 1.8rem;
    font-weight: 600;
    @media (max-width: 580px) {
        padding: 20px;
    }
}
.project-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border: 10px solid #141414;
    border-top: none;
}
.project-item {
    border-radius: 0;
    display: flex;
    // height: 240px;
    padding: 50px 50px 20px 50px;
    border: 12px solid #141414;
    .text-block {
        color: white;
        margin-top: auto;
        height: 140px;
        padding-top: 20px;
        vertical-align: bottom;
        h2 {
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 8px;
        }
        p {
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: 4px;
            margin-bottom: 0;
        }
        hr {
            border-top: 2px solid white;
        }
    }
    @media (max-width: 580px) {
        padding: 20px;
        .text-block {
            margin-top: 0;
            p {
                font-size: 1rem;
            }
            h2 {
                letter-spacing: 6px;
                font-size: 1.6rem;
            }
        }
    }
}
.project-item1 {
    grid-row: 3;
    grid-column: 1;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 100%),url("/storage/holdie-header.jpg");
    background-position: center;
    background-size: cover;
    transition: background-color 0.6s linear;
    &:hover {
        background-color: rgba(200,200,200,0.7);
        background:  url("/storage/holdie-header.jpg");
        background-position: center;
        background-size: cover;
        transition: background-color 0.6s linear;
    }
}
.project-item2 {
    grid-row: 2 / span 3;
    grid-column: 2;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 100%), url("/storage/helios-header.jpg");
    background-position: center;
    background-size: cover;
    transition: background-color 0.6s linear;
    &:hover {
        background: rgba(200,200,200,0.7) url("/storage/helios-header.jpg");
        background-position: center;
        background-size: cover;
        transition: background-color 0.6s linear;
    }
}
.project-item3 {
    grid-row: 1 / span 2;
    grid-column: 3;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 100%), url("/storage/mugen-header.jpg");
    background-position: center;
    background-size: cover;
    transition: background-color 0.6s linear;
    &:hover {
        background: rgba(200,200,200,0.7) url("/storage/mugen-header.jpg");
        background-position: center;
        background-size: cover;
        transition: background-color 0.6s linear;
    }
}
.project-item4 {
    grid-row: 1;
    grid-column: 2;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 100%), url("/storage/olio-header.jpg");
    background-position: center;
    background-size: cover;
    transition: background-color 0.6s linear;
    &:hover {
        background: rgba(200,200,200,0.7) url("/storage/olio-header.jpg");
        background-position: center;
        background-size: cover;
        transition: background-color 0.6s linear;
    }
}
.project-item5 {
    grid-row: 1 / span 2;
    grid-column: 1;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 100%), url("/storage/bfs-header.jpg");
    background-position: center;
    background-size: cover;
    transition: background-color 0.6s linear;
    &:hover {
        background: rgba(200,200,200,0.7) url("/storage/bfs-header.jpg");
        background-position: center;
        background-size: cover;
        transition: background-color 0.6s linear;
    }
}
.project-item6 {
    grid-row: 3;
    grid-column: 3;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 100%), url("/storage/escaperoom-header.jpg");
    background-position: center;
    background-size: cover;
    transition: background-color 0.6s linear;
    &:hover {
        background: rgba(200,200,200,0.7) url("/storage/escaperoom-header.jpg");
        background-position: center;
        background-size: cover;
        transition: background-color 0.6s linear;
    }
}

// Web Development section
.web-development {
    max-width: 100%;
    height: auto;
    margin: auto;
    .web-clickb4it, .web-tomstech {
        height: auto;
        text-align: center;
    }
    .web-image {
        width: 60%;
        padding: 20px 0;
        margin: auto;
    }
    .web-image-mobile {
        width: 20.2%;
        padding: 20px 0;
        margin: auto auto auto 40px;
    }
}

// about section
.about-section {
    padding: 80px 140px 0 140px;
    max-width: 65vw;
    min-height: 80vh;
    margin: auto;
    .profile {
        max-width: 40%;
        float: right;
        padding: 0 30px;
    }
    p {
        text-align: justify;
    }
    .links-out {
        text-align: center;
        padding: 20px 0 0 0;
        margin-top: 50px;
    }
    .links-out li {
        display: inline;
        padding: 0 5px;
    }
    .links-out .fab, .links-out .fas {
        font-size: 4rem;
        padding: 15px;
    }
    .TT-logo, .social-icon {
        max-width: 120px;
        max-height: 120px;
        margin-top: -50px;
    }
    .clickb4it-logo {
        margin-top: -50px;
        height: 20px;
        max-width: 200px;
        margin-left: 20px;
        background-color: white;
    }
    @media (max-width: 580px) {
        padding: 80px 0;
        .profile {
            float: none;
            width: 100%;
            max-width: 100%;
        }
        .links-out {
            padding: 20px;
        }
        .links-out li {
            display: block;
        }
        .TT-logo, .clickb4it-logo {
            margin: auto;
        }
        .TT-logo {
            margin-bottom: 10px;
        }
    }
}

// back to top button
.top-button {
    margin: auto 0 auto 25%;
    position: relative;
    background-color: white;
    border: 2px solid black;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    z-index: 90003;
}

// contact
.contact-section {
    padding: 20px;
    text-align: center;
}

// footer
.footer {
    padding: 20px 20px 5px 20px;
    text-align: left;
    background-color: #141414;
    color: white;
    bottom: 0;
    width: 100%;
    position: relative;
    .contact-list {
        padding: 8px 0;
        list-style: none;
        li {
            font-size: 1.1rem;
        }
    }
    .copyright-message {
        text-align: center;
        h5 {
            text-transform: uppercase;
            letter-spacing: 4px;
            font-size: 1rem;
        }
    }
}

// Resonsive
@media (max-width: 1023px) {
    .project-grid {
        grid-template-columns: 50% 50%;
        border-bottom: 10px solid #141414;
    }
    .project-item2, .project-item4 {
        grid-column: 2;
    }
    .project-item3 {
        grid-column: 1;
    }
}
