.project-single {
    perspective: 1px;
    background-color:  #141414;
    .project-hero-image {
        // background: url("/storage/holdie-header.jpg");
        background-size: cover;
        width: 100%;
        height: 60vh;
        // parallax
        background-attachment: fixed;
        // background-position: center;
        background-repeat: no-repeat;
        // transform: translateZ(0);
    }
    .project-text {
        padding: 0 50px;
        width: 80vw;
        margin: auto;
        .project-description {
            display: grid;
            // margin-top: 60px;
        }
        .team {
            font-family: "DIN";
            font-weight: 300;
            font-style: italic;
            letter-spacing: 1px;
            text-align: right;
            padding-top: 2px;
            font-size: 1.1rem;
        }
        .team li {
            display: inline;
        }
        p {
            padding: 10px;
            line-height: 2.2rem;
            font-size: 1.2rem;
            font-weight: 400;
            max-width: 50%;
            margin-left: 20%;
        }
        h2 {
            font-family: 'DIN';
            text-transform: uppercase;
            letter-spacing: 8px;
            font-weight: 600;
            line-height: 1.4em;
            width: 50%;
            margin-left: 20%;
            margin-bottom: -20px;
            padding: 0;
        }
        img {
            // float: right;
            width: 80%;
            margin-left: 20%;
            height: auto;
            padding: 10px;
        }
        
        span {
            margin-left: 20%;
            font-family: 'Source Sans Pro';
            font-style: italic;
            letter-spacing: 1px;
            font-size: 1.1rem;
            font-weight: 300;
            padding: 5px 10px 0 0;
            text-align: right;
        }
        button {
            width: 300px;
            padding: 5px 15px 5px 10%;
            margin: 5px 0;
            font-family: 'DIN';
            font-size: 1.6rem;
            background-color: #101010;
            color: white;
            border: none;
            transition: .4s;
            &:hover {
                color: rgb(202, 202, 202);
                margin-left: 12.5%;
                transition: .4s;
            }
            .download, h3 {
                display: inline-block;
            }
            .download {
                margin-left: 0;
                max-width: 48px;
                text-align: right;
                filter: invert(100%);
            }
        }
        .fa-code {
            font-size: 2.2rem;
        }

        .shift-left {
            margin-left: -10%;
        }
    }
    @media (max-width: 840px) {
        .project-text {
            padding: 10px 0;
            width: 85vw;
            p {
                width: 100%;
                max-width: 100%;
                margin: 0;
                font-size: 1.1rem;
            }
            h2 {
                width: 100%;
            }
            blockquote {
                margin-left: -10%;
                width: 120%;
                font-size: 1.6rem;
            }
            img {
                width: 130%;
                margin-left: -15%;
            }
            video {
                width: 120%;
                margin-left: -10%;
            }
            span {
                margin: 0;
                text-align: right;
                width: 110%;
                padding-bottom: 10px;
                font-size: 1rem;
            }
            .team {
                font-size: 1rem;
                margin-right: -5%;
            }
            .shift-left {
                margin-left: 0;
            }
        }
    }
}
blockquote {
    margin-left: 5%;
    font-style: italic;
    font-size: 2.4rem;
    width: 65%;
    line-height: 2.8rem;
    padding-left: 22px;
    hr {
        margin: 0;
        color: #151515;
    }
    .bc-span {
        font-style: italic;
        width: 65%;
        margin-left: 5%;
        text-transform: capitalize;
    }
}
.project-header {
    h1 {
        font-family: 'DIN';
        text-transform: uppercase;
        font-weight: 400;
        font-size: 14.2rem;
        color: white;
        letter-spacing: 12px;
        text-align: center;
        padding-top: 35vh;
        padding-left: 3vw;
    }
    @media (max-width: 840px) {
        h1 {
            font-size: 5.2rem;
            letter-spacing: 1px;
        }
    }
}

#holdie-description {
    .project-hero-image {
        background: linear-gradient(180deg,transparent,rgba(0,0,0,0.3)),url("/storage/holdie-header.jpg");
        background-size: cover;
        width: 100%;
        height: 100vh;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center;
    }
}
#helios-description {
    .project-hero-image {
        background: linear-gradient(180deg,transparent,rgba(0,0,0,0.3)),url("/storage/helios-header.jpg");
        background-size: cover;
        width: 100%;
        height: 100vh;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center;
    }
}
#mugen-description {
    .project-hero-image {
        background: linear-gradient(180deg,transparent,rgba(0,0,0,0.3)),url("/storage/mugen-header.jpg");
        background-size: cover;
        width: 100%;
        height: 100vh;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center;
    }
}
#olio-description {
    .project-hero-image {
        background: linear-gradient(180deg,transparent,rgba(0,0,0,0.3)),url("/storage/olio-header.jpg");
        background-size: cover;
        width: 100%;
        height: 100vh;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center;
    }
}
#bfs-description {
    .project-hero-image {
        background: linear-gradient(180deg,transparent,rgba(0,0,0,0.5)),url(/storage/bfs-header.jpg);
        background-size: cover;
        width: 100%;
        height: 100vh;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center;
    }
}
#escaperoom-description {
    h1 {
        padding-top: 20px;
    }
}
#escaperoomVideo, #mugen-video {
    width: 100%;
    height: auto;
}
#tomstech-description, #clickb4it-description {
    .project-hero-image {
        height: auto;
    }
    h1 {
        padding-top: 150px;
        padding-bottom: 50px;
    }
}

scroll-down {
    opacity: 1;
    -webkit-transition: all .5s ease-in 3s;
    transition: all .5s ease-in 3s;
  }
  
  .scroll-down {
    position: absolute;
    top: 94vh;
    left: 50%;
    margin-left: -16px;
    display: block;
    width: 32px;
    height: 32px;
    border: 2px solid #FFF;
    background-size: 14px auto;
    border-radius: 50%;
    z-index: 2;
    -webkit-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite 2s;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    transform: scale(1)
  }
  
  .scroll-down:before {
      position: absolute;
      top: calc(50% - 8px);
      left: calc(50% - 6px);
      transform: rotate(-45deg);
      display: block;
      width: 12px;
      height: 12px;
      content: "";
      border: 2px solid white;
      border-width: 0px 0 2px 2px;
  }
  
  @keyframes bounce {
    0%,
    100%,
    20%,
    50%,
    80% {
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
      transform: translateY(-10px);
    }
    60% {
      -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
      transform: translateY(-5px);
    }
  }
  @media (max-width: 580px) {
    .project-grid {
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr ;
    }
    .project-item1, .project-item2, .project-item3, .project-item4, .project-item5, .project-item6 {
        grid-column: 1;
        grid-row: auto;
    }
    .project-item2 {
        grid-row: 2;
    }
    .project-item3 {
        grid-row: 3;
    }
    .project-item4 {
        grid-row: 4;
    }
    .project-item5 {
        grid-row: 5;
    }
    .project-item6 {
        grid-row: 6;
    }
}


        /* Carousel */
        .slideshow-container {
            max-width: 1000px;
            position: relative;
            margin: auto;
        }
        .slides {
            display: none;
        }
        /* Next & previous buttons */
        .prev, .next {
            cursor: pointer;
            position: absolute;
            top: 50%;
            width: auto;
            margin-top: -22px;
            padding: 16px;
            color: white;
            font-weight: bold;
            font-size: 18px;
            transition: 0.6s ease;
            border-radius: 0 3px 3px 0;
            user-select: none;
        }
        .prev {
            margin-left: 20%;
            @media (max-width: 580px) {
                margin-left: 0;
            }
        }
        /* Position the "next button" to the right */
        .next {
            right: 0;
            border-radius: 3px 0 0 3px;
        } 
        /* The dots/bullets/indicators */
        .dot {
            cursor: pointer;
            height: 15px;
            width: 15px;
            margin: 0 2px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.6s ease;
        }
        .active, .dot:hover {
            background-color: #717171;
        }
        /* Fading animation */
        .car-fade {
            -webkit-animation-name: car-fade;
            -webkit-animation-duration: 1.5s;
            animation-name: car-fade;
            animation-duration: 1.5s;
        }

        @-webkit-keyframes car-fade {
            from {opacity: .4} 
            to {opacity: 1}
        }

        @keyframes car-fade {
            from {opacity: .4} 
            to {opacity: 1}
        }